<template>
    <div class="nameGenerator">
        <input @change="pikDogGen('female')" type="radio" value="female" v-model="$store.state.picked_gender">
        <label for="one">Female</label>
        <br>
        <input @change="pikDogGen('male')" type="radio" value="male" v-model="$store.state.picked_gender">
        <label for="two">Male</label>
        <br>
        <button @click="generateName">Generate Name</button>
        <br>
        <h2>The name of your dog may be:</h2>
        <br>
        <h1 class="dog-name">{{ $store.state.generatName }}</h1>
    </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'

export default {
    name: 'name-generator',

    data() {
        return {
            generatName: ''
        }
    },

    methods: {
        pikDogGen (val) {
            this.$store.dispatch('dogGen', val)
        },

        generateName () {
            this.$store.dispatch('generateName')
        }
    },

    computed: {
    ...mapState([
      'picked_gender',
    ])
  }
}
</script>
<style>
.dog-name {
    text-transform: capitalize;
    color: #214848;
}
</style>

