<template>
    <div class="SelectADog flex-center">
        <select v-model="selectedDog">
            <option disabled value="">Please select one</option>
            <option v-for="(dog,index) in dogs" :key="index">{{ dog }}</option>
        </select>
        <span>Selected: {{ selectedDog }}</span>
        <br>
        <div class="image-box">
            <img :src="imgUrl ? imgUrl : dogDefault" alt="">
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'vapp-select-dog',

    data() {
        return {
            selectedDog: '',
            imgUrl: ''
        }
    },
    watch: {
        selectedDog(val) {
            console.log(val.split(" ").join("/"))
            let dog = val.split(" ").join('/')
            axios
                .get(`https://dog.ceo/api/breed/${dog}/images/random`)
                .then(data => {
                    this.imgUrl = data.data.message
                    console.log(data.data.message)
                })
                .catch(err => {
                    console.log(err, err.response.data, 'ERROR')
                })
        }
    },

    props: [
      'dogs',
      'dogDefault'
    ]

}
</script>
<style>
.SelectADog {
    width: 600px;
    height: auto;
    background-color: #ddd;
}
</style>


