<template>
  <v-app>
    <!-- <v-toolbar fixed app :clipped-left="clipped">
      
    </v-toolbar> -->
    <!-- Put components -->
          <v-layout column align-center class="pa-4 pt-4">
            <v-flex xs12 sm6>
              <v-card class="pb-2 mt-4" :width="windowWidth" height="auto">

                <v-img
                  class="white--text"
                  height="350px"
                  :src="imgUrl ? imgUrl : random_dog"
                >

                  <v-container fill-height fluid>
                    <v-layout fill-height>
                      <v-flex xs12  d-flex align-end>
                        <span v-if="$store.state.generatName" class="headline capitalize">{{ $store.state.generatName }}</span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                
                </v-img>
                
                <v-overflow-btn
                  class="pa-4"  
                  :items="dogs"
                  v-model="selectDog"
                  label="What kind of dog ?"
                  target="#dropdown-example"
                ></v-overflow-btn>
              
                <v-radio-group v-model="radioGroup" row class="center pl-4" >
                  <v-radio
                    class="capitalize"
                    v-for="n in gender"
                    :key="n"
                    :label="`${n}`"
                    :value="n"
                  ></v-radio>
                </v-radio-group>

                

                <v-card-actions class="center">
                  <v-btn color="info" @click="generateName">Generate Name</v-btn>
                </v-card-actions>

                <!-- <v-card-title primary-title class="center">
                  <div>
                    <h1 class="mb-0 capitalize">{{ $store.state.generatName }}</h1>
                  </div>
                </v-card-title> -->
                
              </v-card>

            </v-flex>
          </v-layout>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import axios from 'axios'
  export default {
    data () {
      return {
        clipped: false,
        drawer: true,
        fixed: false,
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js',
        selectDog: 'What kind of dog ?',
        imgUrl: '',
        radioGroup: this.$store.state.picked_gender,
        gender: ['female', 'male'],
        windowWidth: '300px'
      }
    },
    mounted() {
      this.$store.dispatch('loadRandomDog')
      this.$store.dispatch('loadDogs')
    },
    computed: {
      ...mapState([
        'dogs',
        'random_dog'
      ])
    },
    
    methods: {
      generateName () {
            this.$store.dispatch('generateName')
      }
    },
     
    watch: {
      selectDog(val) {
        let dog = val.split(" ").join('/')
            axios
                .get(`https://dog.ceo/api/breed/${dog}/images/random`)
                .then(data => {
                    this.imgUrl = data.data.message
                })
                .catch(err => {
                    console.log(err, err.response.data, 'ERROR')
                })
      }, 

      radioGroup(val) {
        this.$store.dispatch('dogGen', val)
        console.log(this.$store.state.picked_gender)
      }
    }
  }
</script>
<style lang="stylus">
.v-list__tile__content,
.v-select__selections
  text-transform capitalize
.capitalize
  text-transform capitalize
.center
  display flex
  justify-content center
  align-items center
.headline
  padding 20px 40px
  background #444
  position absolute
  bottom 0
</style>



